<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="php" />
            <add name="PHP" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\iis express\PHP\v5.3\php-cgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
